<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ReTime" value="5"/>
    <add key="Path" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\\oid.mdb"/>
    <add key="Provider" value="OLEDB"/>
    <add key="StNt" value="SELECT * from info"/>
    <add key="StPc" value="SELECT * from info3"/>
    <add key="PCR" value="SELECT [0name].Name FROM 0name where Oid='"/>
    <!--<add key="Path" value="Data Source = localhost;Initial Catalog = Oid;User Id = sa;Password = Password123"/>-->
    <!--
    <add key="Provider" value="mssql"/>
    <add key="StNt" value="SELECT * from PCINFO"/>
    <add key="StPc" value="SELECT * from PCINFO2"/>
    <add key="PCR" value="SELECT [0name].Name FROM [0name] where Oid='"/>-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ZhEasySnmp" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:33895/ZhEasySnmp.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ZhEasySnmp" contract="ServiceReference1.ZhEasySnmp"
        name="BasicHttpBinding_ZhEasySnmp" />
    </client>
  </system.serviceModel>
</configuration>